aiohttp==1.0.5
async-timeout==1.0.0
beautifulsoup4==4.5.1
cffi==1.8.3
chardet==2.3.0
cycler==0.10.0
discord.py==0.13.0
google==1.9.3
matplotlib==1.5.3
multidict==2.1.2
nltk==3.2.1
numpy==1.11.2
pycparser==2.16
PyNaCl==1.0.1
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
six==1.10.0
textblob==0.11.1
urbandictionary==1.1
websockets==3.2
youtube-dl==2016.10.19
